main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.7rem;
  gap: 5rem;
}

ul {
  padding: 0;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  list-style: none;
}

.general-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.section-title {
  margin: 0;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-bottom: 5%;
}

.details-container {
  width: 30%;
}

.details-title {
  margin: 0 0 10px 0;
}

.description-text,
.useful-links {
  border: 1px solid #000;
  border-radius: 5px;
  height: 25vh;
}

.text {
  padding: 1rem;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  text-decoration: underline;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid black;
  transition: background-color 0.5s ease, box-shadow 0.5s ease, color 0.5s ease;
}

.btn:hover {
  background-color: black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  color: white;
}
